<div class="detail-section">
    <div class="container-fluid">

        <img src="{{product.imageUrl}}" class="details-img">

        <h4>{{product.name}}</h4>

        <div class="price">{{product.unitPrice | currency:'USD'}}</div>

        <button (click)="addToCart()" class="btn btn-primary btn-sm">Add To Cart</button>

        <hr>
        <h5>Description</h5>
        <p>{{product.description}}</p>

        <a routerLink="/category/{{currentSelectedCategory.id}}" class="mt-5">Back To Product List</a>
    </div>
</div>
